* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 3rem;
    background-color: #fff;
    width: 100vw;
}

h2 {
    font-size: 24px;
    text-align: center;
    padding: 15px;
}

span {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: #fff;
    padding: 20px;
    text-align: justify;
}

.section_1 {
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #fff;
}

.sec_cards1 {
    width: 24vw;
    display: flex;
    background-color: #c8c34e;
    flex-flow: column wrap;
    justify-content: center;
}
